xml/squema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="facturacion">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="factura" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="factura">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="encabezado"/>
        <xs:element ref="servicio" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="encabezado">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="fecha"/>
        <xs:element name="cliente" type="xs:string"/>
        <xs:element name="NIT" type="xs:string"/>
        <xs:element name="Razon_social" type="xs:string"/>
        <xs:element name="telefono" type="xs:string"/>
        <xs:element name="dirreccion" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fecha">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="dia" type="xs:string"/>
        <xs:element name="mes" type="xs:string"/>
        <xs:element name="año" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="servicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="descripcion" type="xs:string"/>
        <xs:element ref="subservicio" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="subservicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="descripcion" type="xs:string"/>
        <xs:element name="actividad" type="xs:string"/>
        <xs:element name="precio" type="xs:string"/>
        <xs:element name="unidad" type="xs:string"/>
        <xs:element name="medida" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
